* {
    margin: 0px;
    padding: 0px;
    text-decoration: none;
    color: #575757;
    font-family: "Inter", sans-serif;
}

/* Navigation bar */

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 3rem;
    padding: 1rem 7rem;
}

.nav-links-container ul {
    list-style: none;
    font-size: 16px;
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.common-btn {
    background-color: #1D4ED8;
    color: white;
    border-radius: 10px;
    border: none;
}

#nav-regi-btn {
    min-width: 150px;
    padding: 1rem 2rem;
}

/* Banner section  */

.banner-container {
    background-image: url(./assets/banner.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    min-height: 100vh;
    text-align: center;
}

.banner-div h1{
    font-size: 80px;
    padding: 7rem ;
    padding-bottom: 1rem;
}

.banner-div p {
    font-size: 23px;
}

.banner-div button {
    width: 180px;
    padding: 1rem 2rem;
    margin-top: 17rem;
    font-size: 17px;
}

.banner-text {
    color: white;
}




